<!-- <button (click)="increment()"> {{counter > 0 ? counter : 'Click me'}}</button> -->
<button>{{counter}}</button>
<!-- <input  type="text" #inputEl>

<button (click)="visible(inputEl)">Click</button>

<div *ngIf="isVisible">Visible!</div>

<input type="text" value= {{item}}> -->

<input type="text" value = {{inputValue}}>


<!-- <label for="item-input">Add an item:</label>
<input type="text" id="item-input" #item>
<button type="button" (click)="addNewItem(item.value)">Add to parent's list</button> -->
