<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
    </div>
    <h1><a href="index.html" class="logo">GorgesMusic</a></h1>
    <ul style="height: 100%" class="list-unstyled components mb-5">
        <li class="active">
            <a href="#"><span class="fa fa-home mr-3"></span> Home</a>
        </li>
        <li>
        <a routerLink="/auth/login"><span class="fa fa-user mr-3"></span> Login</a>
        </li>
        <li>
        <a routerLink="/auth/register"><span class="fa fa-sticky-note mr-3"></span> Register</a>
        </li>
    </ul>
</nav>