<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary"></button>
    </div>
    <h1><a href="/" class="logo">GorgesMusic</a></h1>
    <ul class="list-unstyled components mb-3">
        <li class="active">
            <a routerLink="/">Homepage</a>
        </li>
        <li *ngIf="!isLogged()">
            <a routerLink="/auth/register">Register</a>
        </li>
        <li *ngIf="!isLogged()">
            <a routerLink="/auth/login">Login</a>
        </li>
        <li *ngIf="isLogged()">
            <a routerLink="/auth/logout">Logout</a>
        </li>
    </ul>
    <ng-template></ng-template>
</nav>