<div *ngFor="let song in songs" id="content" class="p-4 p-md-5 pt-5 row">
    <div class="col-md-2">
        <div class="card" style="width: 18rem;">
            <img src="{{song.imageLink}}" class="card-img-top" alt="Img">
            <div class="card-body">
              <h5 class="card-title">{{song.name}}</h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
    </div>
</div>
<div *ngIf="!songs">
    <p>No songs</p>
</div>
